body{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Btn_Color{
	padding: 0.25rem 0.5 rem;
	border: 3px solid #fefefe;
	border-radius: 7px;
	color:#fefefe;
	background: rgba(0,0,0,0.6);
	font-size: 1.5rem;
	text-transform:capitalize;
	cursor: pointer;
	outline: none;
}
.Btn_Color:hover
{
    background:rgb(0,0,0); 
}